* {
    margin: 0px;
    padding-right:0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #04050b;
    
}
.header {
    padding-left: 30px;
    padding-right: 30px;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-bottom: #cfcfcf solid 0.1px;
}

.logo-cabecalho {
    color: #cfcfcf;
   
}


.item-menu {
    color: #cfcfcf;
    margin: 50px;
}

